<div class="background">
  <form class="contact-plate" (submit)="submitHandler($event)">
    <h2>Contact Me</h2>
    <p>I will get back to you shortly</p>

    <div class="fields">
      <input placeholder="Name" id="input" type="text" name="from_name" />

      <input placeholder="Email" type="email" name="reply_to" />

      <textarea placeholder="Message" name="message"></textarea>
    </div>
    <button type="submit">Send</button>
    <p class="additional-text">
      you may also chat me on
      <i class="fa fa-whatsapp" aria-hidden="true"></i> at +254 71460 1042
    </p>
  </form>
</div>
