.about {
  margin: 10px auto;
  width: 80%;
  position: relative;
  padding: 10px;
  color: #fff;
  h2 {
    text-align: center;
  }
  .image {
    width: 50%;
    position: relative;
    img {
      width: 496px;
      height: 641px;
      border-radius: 30px;
    }
    .info {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text {
    position: absolute;
    float: right;
    left: 50%;
    top: 10%;

    button {
      background-color: #d47b32;
      color: #ffffff;
      padding: 5px;
      font-size: 11px;
      border: 1px solid #a59c94;
      box-shadow: none;
      border-radius: 8px;
      &:hover {
        background-color: #ffffff;
        color: #d47b32;
      }
    }
  }
  .scroll {
    margin: 8px;
  }
}

@media screen and (max-width: 1300px) {
  .about {
    .image {
      img {
        width: 350px;
        height: 452px;
      }
    }
    .text {
      font-size: 13px;
      left: 53%;
      top: 10%;
    }
  }
}
@media screen and (max-width: 860px) {
  .about {
    .image {
      img {
        width: 300px;
        height: 388px;
      }
    }
    .text {
      font-size: 10px;
      left: 53%;
      top: 10%;
    }
  }
}
@media screen and (max-width: 765px) {
  .about {
    .image {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      img {
        width: 300px;
        height: 388px;
      }
    }
    .text {
      position: unset;
      float: right;
      left: 50%;
      top: 10%;
    }
  }
}
