<div class="about">
  <h2>ABOUT LENS</h2>
  <div class="image">
    <img src="../assets/images/about-img.jpg" alt="An image of a bulb" />
    <app-info [link]="imageLink" class="info"></app-info>
  </div>
  <div class="text">
    <p>
      I'm Lens, a passionate web developer striving to deliver highly responsive
      and light weight applications. I am experienced in developing web
      applications and currently I'm learning web3 technology. During the covid
      pandemic, I developed and nurtured my skills in programming before
      deciding to venture into the web divide of it. <br />
      <br />
      I am an avid javascript developer. All of my projects at the moment are
      javascript based. I am well versed with React framework and frankly a lot
      of my projects have been built on React. I am also familiar with Angular
      Typescript and C# just but to mention a few. I integrate SASS, bootstrap
      and CSS in the styling of my projects.<br />
      <br />
      I am delighted to be in this field and be able to see how I influence
      people's lives differently.
    </p>
    <a href="../../../assets/documents/Okore.pdf" download>
      <button>DOWNLOAD MY RESUME</button>
    </a>
  </div>
  <app-scroll class="scroll"></app-scroll>
</div>
