.footer {
  padding: 10px 0;
  margin: 30px 0 0 0;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  // color: #ffee00;
  color: #793904;

  .line {
    height: 5px;
    width: 75%;
    background-color: white;
    color: #c71a1a;
  }
  p {
    margin: 0;
    .text-link {
      margin: 6px;
    }
  }

  .media-links {
    i {
      cursor: pointer;
      font-size: 20px;
      color: grey;
      margin: 7px;
      &:hover {
        color: #ffee00;
      }
    }
  }
}
