<div class="footer">
  <p>
    <span class="text-link">Terms and Conditions</span>
    <span class="text-link">Privacy Policy</span>
    <span class="text-link">Contact Us</span>
  </p>
  <span class="line"> </span>
  <p>© 2022 Lens Okore || All Rights Reserved</p>
  <div class="media-links">
    <a href="#"> <i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</div>
