.works {
  .position {
    // display: flex;
    position: relative;
    .controls {
      width: 80%;
      // background-color: darkkhaki;
      font-size: 20px;

      position: absolute;
      // color: #ffee00;
      color: #793904;
      left: 10%;
      top: 40%;
      i {
        margin: 4px;
      }
      .prev {
        width: max-content;

        // background-color: darkblue;
        &:hover {
          cursor: pointer;
          color: #616161;
        }
      }
      .next {
        width: max-content;
        position: absolute;
        float: right;
        right: 0;
        &:hover {
          cursor: pointer;
          color: #616161;
        }
      }
    }
    // display: flex;
    // overflow: hidden;
    width: 100%;

    .work {
      // min-width: 90%;
      display: none;

      .breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 0 auto;
        .count {
          font-size: 10px;
          // margin-right: 5px;
          // color: #5634d1;
          color: #ffee00;
        }
        .breadcrumbItems {
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .breadcrumbItem {
            background-color: #616161;
            border-radius: 40px;
            color: #ffffff;
            margin: 3px;
            height: 4px;
            font-size: 11px;
            text-align: center;
            &:hover {
              background-color: #5634d1;
              cursor: pointer;
            }
          }
          .active {
            background-color: #793904;
          }
        }
      }
    }
    .work-display {
      display: block;
    }
  }
}

@media screen and (max-width: 1300px) {
  .works {
    .position {
      .controls {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .works {
    .position {
      .controls {
        font-size: 12px;
      }
    }
  }
}
