<div class="works">
  <div class="position">
    <div class="controls">
      <div class="next" (click)="nextHandler()">
        Next<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
      <div class="prev" (click)="prevHandler()">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Prev
      </div>
    </div>
    <div *ngFor="let work of works">
      <span
        class="work"
        [ngClass]="[work.id === this.count ? 'work-display' : '']"
      >
        <app-work-card [workItem]="work"></app-work-card>

        <div class="breadcrumb">
          <span class="count">{{ this.count }} / {{ maxCount }}</span>
          <div class="breadcrumbItems">
            <div
              *ngFor="let work of works"
              class="breadcrumbItem"
              (onclick)="breadcrumbHandler()"
              [ngClass]="[work.id === this.count ? 'active' : '']"
              [ngStyle]="{ width: widthHandler() }"
            ></div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
