.landing-page {
  background-color: rgb(129, 116, 116);
  background-image: url("../../../assets/images/bg-image.jpg") !important;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: grey;
  position: relative;
  .text {
    width: max-content;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 10%;
    .media-links {
      i {
        font-size: 20px;
        margin: 7px;
        color: #ffee00;

        &:hover {
          color: #fff;
        }
      }
    }
  }
  .info {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .scroll {
    position: absolute;
    top: 94%;
    left: 84%;
  }
}
@media screen and (max-width: 570px) {
  .landing-page {
    color: #ffee00;
    .text {
      .media-links {
        i {
          color: #fff;
        }
      }
    }
  }
}
