.hero-page {
  h2 {
    text-align: center;

    color: #fff;
  }
  .about {
    margin: 10px 0;
  }
  .skill {
    margin: 25px 0;
  }
  .works {
    margin: 10px 0;
  }
  .contacts {
    margin: 40px 0;
  }
}
