.work {
  margin: 10px auto;
  width: 70%;
  position: relative;
  padding: 10px;
  color: #fff;

  .image {
    .img-container {
      img {
        opacity: 0.6;
        border: 2px solid #793904;
        width: 45%;
        max-height: 500px;
        object-fit: cover;
        object-position: center center;
        border-radius: 30px;
        margin: 5px;
        transition: transform 0.8s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
  .text {
    position: absolute;
    float: right;
    left: 50%;
    top: 10%;
    padding: 5px;
    .details {
      width: 100%;

      h2 {
        margin: 4px 0;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        color: #793904;
      }

      p {
        margin: 4px 0;
        font-size: 14px;
      }
    }

    .project-links {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #793904;
        margin: 5px;
        &:hover {
          color: #e61d1d;
        }
      }
      .website {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .work {
    .text {
      .details {
        width: 80%;
        margin: 0 auto;
        h2 {
          margin: 1px 0;
          font-size: 14px;
        }
        p {
          font-size: 10px;
        }
      }
      .project-links {
        a {
          margin: 4px;
        }
        .website {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .work {
    margin: 0 auto;
    .image {
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
          max-height: 300px;
          object-fit: cover;
          object-position: center center;
          border-radius: 30px;
          margin: 5px;
        }
      }
    }
    .text {
      position: unset;

      left: 50%;
      top: 20%;

      .details {
        h2 {
          margin: 1px 0;
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }

      .project-links {
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .website {
          font-size: 15px;
        }
      }
    }
  }
}
