.skill {
  margin: 10px auto;
  width: 80%;
  position: relative;
  color: #fff;
  padding: 10px;
  background-image: url("../../../assets/images/skills-img.jpg");
  height: 600px;
  padding: 10px;
  background-position: center center;
  background-size: cover;
  border-radius: 40px;

  .info {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  h2 {
    text-align: center;
  }
  .skills {
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #020201b9;

    .skillItems {
      display: grid;
      grid-template-columns: auto auto auto auto;

      .skillItem {
        height: 120px;
        width: 120px;
        margin: 3px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .skill {
    .skills {
      overflow: hidden;
      .skillItems {
        .skillItem {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}
@media screen and (max-width: 668px) {
  .skill {
    .skills {
      .skillItems {
        grid-template-columns: auto auto auto;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .skill {
    height: 500px;

    .skills {
      .skillItems {
        grid-template-columns: auto auto auto;
        .skillItem {
          height: 70px;
          width: 70px;
        }
      }
    }
  }
}
